body {
  //background-color: whitesmoke;
}

.navbar-item {
  img {
    max-height: 2.75rem !important;
  }
}


.v-application--wrap {
  min-height: inherit !important;
}

.submit-content {
  text-align: right;

  .v-application--wrap {
    align-items: flex-end;
  }

}

.buefy-content {
  .input-item {
    padding-bottom: 15px;
  }
}

.form-validate {
  padding-bottom: 15px;
}

.navbar-end {
  align-items: center;
}

$headerHeight: 70px;
$navBgColor: #f5f5f5;
.nav-content {
  display: flex;
  height: $headerHeight;
  align-items: center;
  background-color: $navBgColor;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 30;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.32);
  //box-shadow: 0 2px 5px 1px rgba(0,0,0,0.18);
  //box-shadow: 0 1px 10px 1px rgba(0,0,0,0.38);
  .navbar {
    min-height: inherit !important;
    background-color: $navBgColor;
  }
  .logo-title {
    font-weight: 500;
  }
}

.box {
  box-shadow: 2px 6px 14px -3px rgba(0, 0, 0, 0.22);
}

.page-content {
  padding-top: $headerHeight;
}

.vuetify-content {
  font-family: Roboto, sans-serif;

  .container {
    position: inherit !important;
  }

  .title {
    font-weight: 400;
  }
}
