// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// CUSTOM
/*
// Set your colors
$primary: #8c67ef;
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
        "white": ($white, $black),
        "black": ($black, $white),
        "light": ($light, $light-invert),
        "dark": ($dark, $dark-invert),
        "primary": ($primary, $primary-invert),
        "info": ($info, $info-invert),
        "success": ($success, $success-invert),
        "warning": ($warning, $warning-invert),
        "danger": ($danger, $danger-invert),
        "twitter": ($twitter, $twitter-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;
*/

$navbar-breakpoint: 772px;
$desktop: 960px;
@import "~bulma";
@import "~buefy/src/scss/buefy";

@media screen and (max-width: $desktop){
  .bd-lead {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
}

@media screen and (max-width: $navbar-breakpoint){
  .bd-lead {
    padding-left: 0;
    padding-right: 0;
  }
}


$headerHeight: 55px;
$navBgColor: #f5f5f5;
.header-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $headerHeight;
  z-index: 30;
  background-color: whitesmoke;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.25);

  .navbar {
    height: $headerHeight;
    background-color: transparent;

    img {
      max-height: 2.5rem;
    }
  }
}

.navbar-burger {
  height: inherit;
}

.main-content {
  margin-top: $headerHeight;
}

.box {
  box-shadow: 2px 6px 14px -3px rgba(0, 0, 0, 0.22);
  padding: 0;

  .title {
    margin-bottom: 10px !important;
    font-weight: 500;
  }
}
.padding-content {
  padding: 1.25rem 1.25rem 0 1.25rem;
}
.switcher-content{
  padding: 30px 0;
}
.code-content{
  line-height: initial;
}
.collapse-container {
  span {
    width: 100%;
    cursor: pointer;
    outline: 0;
    box-shadow: none;
    border-radius: 0;
    background-color: rgba(245, 245, 245, .5);
    transition: all .1s ease-out;

    &.active {
      background-color: rgba(245, 245, 245, 1);
    }

    &:hover {
      background-color: rgba(245, 245, 245, 1);
    }
  }

  pre {
    line-height: 1.5;
    font-size: 13px;
    padding-top: 0;
    text-align: left;
    max-height: 300px;
  }

}
